.container{
  background-color: gray;
  height: 60vh;
 padding-top: 250px;
}
.button{
  border-radius: 7px;
  font-size: 20px;
  background-color: #ffffff;
  color:gray;
}
.para{
  color: #ffffff;
  font-family: "Roboto";
}